body{
/*background-image: url("tiendita.jpg");
background-repeat: no-repeat;
background-size: cover;
*/
overflow: none;
background-image: url("https://images.unsplash.com/photo-1472851294608-062f824d29cc?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
background-repeat: no-repeat;
background-size: cover;
opacity: 70%;
}
label{
color:black;


}